body, html{
    height: 100%;
}

section {
    min-height: 100%;
}

.navbar-default .navbar-brand{
	color: white;
	font-size: 35px;
	letter-spacing: 5px;
}

/*Overide Navbar */
.navbar{
	padding: 3%;
}
.navbar-default{
	background-color: rgba(0,0,0,0);
	border: none;
	transition: all 0.5s ease-in;
}
.navbar-default .navbar-nav > li > a {
  color: white;
  letter-spacing: 5px;
  font-size: 15px;
  border-radius: 30px;
  -webkit-transition: all .25s ease-in-out;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: black;
  background-color: white;
  border-radius: 
  -webkit-transition: all .25s ease-in-out;
}

.navbar-default.stick{
	transition: all 0.3s ease-in;
	padding: 1%;
	background-color: black;
	color: white;
}
.thumbnail{
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.panel-body{
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}
.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.caption:hover .overlay{
	opacity: 1;
}